.button {
    display: block;

    padding: rem(10px) rem(30px);

    font-size: rem($font-size-medium);
    line-height: rem($line-height-medium);

    color: $white;
    background-color: $medium-purple;
    border-radius: rem($border-radius-huge);

    cursor: pointer;

    transition: background-color 0.5s ease;

    &:hover,
    &:focus,
    &:active {
        background-color: $lavender;
    }

    &--icon {
        padding: rem(5px);

        width: rem(34px);
        height: rem(34px);

        display: flex;
        align-items: center;

        background-color: transparent;
        border-radius: rem($border-radius-medium);

        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            outline: rem(2px) solid $medium-purple;
        }

    }

    &--small {
        padding: rem(2px) rem(5px);

        font-size: rem($font-size-tiny);
        line-height: rem($line-height-tiny);

        border-radius: rem(4px);
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}